[project]
name = "proslab23"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.8",
    "mypy>=1.19.1",
    "numba>=0.63.1",
]
